NEXT_PUBLIC_APP_URL="" # Base URL of your app instance
NEXT_PUBLIC_API_BASE_URL="" # Base URL of your API instance.

AUTH_DATABASE_URL="mongodb:**" # mongodb url for your auth database.
BETTER_AUTH_SECRET="" # A random secret for auth.
BETTER_AUTH_URL="" #Base URL of your app instance
