PORT=5000
# MONGODB_URL=mongodb+srv://vicksavni:vicksavni9956@realestate.zsd7u2w.mongodb.net/realestate?retryWrites=true&w=majority&appName=realestate
JWT_SECRET=aj8sdfiuwER3249r9wjd+osidfj30==
MONGODB_URL=mongodb://localhost:27017/real-estate-test-1
